{% load static %}
<html>
    <head>
        <title>TestVar!</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>

    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-light bg-dark py-3">
            <div class="text-left px-3">
                <a role="button" class="btn text-white navbar-brand" href="{% url 'home' %}">TestVar</a>
                <a role="button" class="btn text-white align-bottom" href="{% url 'collection-list' %}">All collections</a>
            </div>
            <div class="text-right px-3">
                <a class="btn btn btn-outline-light" href="#">Log in</a>
            </div>
        </nav>

        <div class="overflow-hidden p-5 text-center bg-light">
            <div class="mx-auto p-5">
              <h1 class="display-1 fw-normal">TestVar</h1>
              <p class="lead fw-normal">Studying - made simple.</p>
            </div>
        </div>

        <div class="overflow-hidden p-4 text-center">
            <div class="col-md-5 mx-auto my-5">
                <div class="container-fluid">
                    <p class="lead fw-normal fs-4">TestVar presents a state of the art flashcard learning experience, featuring the ability to share and collaborate with fellow students.</p>
                </div>
                <div class="container-fluid">
                    <a role="button" class="btn btn-outline-secondary" href="{% url 'collection-list' %}">Try it out</a>
                </div>
            </div>
        </div>

        <div class="position-relative overflow-hidden p-3 text-center bg-light">
            <div class="row p-5">
                <div class="col mx-5">
                    <div class="mx-5">
                        <h4 class="display-6">Create your own flashcards</h3>
                        <p class="lead">Create personalised study sets in a matter of minutes. Choose to either make the sets public or private, depending on your preference.</p>
                    </div>
                </div>
                <div class="col mx-5">
                    <div class="mx-5">
                        <h4 class="display-6">Test yourself on existing flashcards</h3>
                        <p class="lead">Test yourself on our extensive database of flashcards created by students just like you.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="position-relative overflow-hidden p-3 text-center">
            <div class="col-md-5 mx-auto my-5">
                Big statement
            </div>
        </div>

        <div class="flex-grow-1"></div>
        
        <footer class="footer mt-auto py-3 bg-dark">
            <div class="container text-center">
                <span class="text-white-50">© TestVar (2024). All rights reserved.</span>
            </div>
        </footer>
    </body>
</html>