{% extends 'base.html' %}

{% block content %}
    <h1 class="display-1">Comments</h1>
    <h4 class="lead">{{flashcard_set.title}}</h4>
    <a href="{% url 'comments-create' collection_id=collection_id set_id=set_id %}" class="btn btn-primary mt-3">Leave a comment</a>
    <a href="{% url 'flashcard-list' collection_id=collection_id set_id=set_id %}" class="btn btn-secondary mt-3">Back to {{flashcard_set.title}}</a>
    <div class="mx-5 py-2">
    {% if comments %}
        {% for comment in comments %}
        <div class="text-start card border-0 p-3 mx-5 my-2 ">
            <span class="lead fw-normal">@{{comment.user}} <small class="text-secondary">{{comment.comment}}</small></span>
        </div>
        {% endfor %}
    {% else %}
        <p class="lead p-2">There are no comments for this flashcard set. Be the first to add one!</p>
    {% endif %}
    </div>
{% endblock %}