{% extends 'base.html' %}

{% block content %}
    {% if user == flashcard_collection.user %}
        <p class="lead fw-normal">Are you sure you want to delete "{{flashcard_collection.title}}"? <small class="lead fw-normal text-danger">This action action cannot be undone.</small></p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete my collection" class="btn btn-danger"/>
        </form>
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>    
            {% endfor %}
        {% endfor %}
    {% else %}
        <p class="lead fw-normal">You don't have permission to modify "{{flashcard_collection.title}}".</p>
        <a href="{% url 'collection-list' %}" class="btn btn-outline-secondary">Back to collections</a>
    {% endif %}
{% endblock %}