{% extends 'base.html' %}

{% block content %}
    {% if user == flashcard_collection.user %}
        <form action="" method="POST">
            {% csrf_token %}
            {% for item in form %}
                <div class="p-2">
                    <p class="form-label">{{item.label}}</p>
                    {{item}}
                </div>
            {% endfor %}
            <input type="submit" label="Submit" class="btn btn-secondary"/>
            <a href="{% url 'flashcard-list' set_id=set_id collection_id=collection_id%}" class="btn btn-outline-secondary">Cancel editing</a>
        </form>
    {% else %}
        <p class="lead fw-normal">You don't have permission to modify this flashcard.</p>
        <a href="{% url 'flashcard-list' set_id=set_id collection_id=collection_id%}" class="btn btn-secondary">Back to flashcards</a>
    {% endif %}
{% endblock %}