{% extends "base.html" %}

{% block content %}
    <div class="overflow-hidden p-3 text-center">
        <div class="mx-auto p-3 pb-0">
            <h1 class="display-1">New collection</h1>
            <p class="lead">Create a new flashcard collection.</p>
        </div>
    </div>
    
    <form action="{% url 'collection-create' %}" method="POST" class="col-md-5 mx-auto">
        {% csrf_token %}
        {% for item in form %}
            <div class="p-2">
                <p class="form-label">{{item.label}}</p>
                {{item}}
            </div>
        {% endfor %}
        <a href="{% url 'collection-list' %}" class="btn btn-outline-secondary mt-2">Back to collection list</a>
        <button type="submit" class="btn btn-primary mt-2">Create collection</button>
    </form>
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>    
        {% endfor %}
    {% endfor %}
{% endblock %}