{% extends 'base.html' %}

{% block content %}
<div class="overflow-hidden p-3 text-center">
    <div class="mx-auto p-5">
        <h1 class="display-1">{{flashcard_collection.title}}</h1>
        {% if flashcard_collection.description %}
            <p class="lead">{{flashcard_collection.description}}</p>
        {% else %}
            <p class="lead">The user has not added a description for this collection.</p>
        {% endif %}

        {% if flashcard_collection.user == user %}
        <a href="{% url 'collection-update' collection_id=flashcard_collection.pk %}" class="btn btn-outline-secondary">Edit collection</a>
        <a href="{% url 'collection-delete' collection_id=flashcard_collection.pk %}" class="btn btn-danger">Delete collection</a>
        {% endif %}
    </div>
</div>

<ul class="container d-flex flex-wrap justify-content-start">
    {% if flashcard_collection.user == user %}
    <div class="card m-2 p-2 bg-secondary text-light" style="flex: 1 1 30%; min-width: 250px; max-width: 500px;">
        <div class="card-body text-start p-4">
            <h5 class="card-title fw-light fs-2">New set</h5>
            <h6 class="card-subtitle mb-2 text-muted fw-light"></h6>
            <p class="card-text">Create a new set!</p>
            <a href="{% url 'set-create' collection_id=flashcard_collection.pk %}" class="btn btn-outline-light">Create a new set</a>
        </div>
    </div>
    {% endif %}
    {% for set in sets %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card m-2 p-2" style="flex: 1 1 30%; min-width: 250px;">
                <div class="card-body text-start p-4">
                    <h5 class="card-title fw-light fs-2">{{set.title}}</h5>
                    {% if set.description %}
                        <p class="card-text">{{set.description}}</p>
                    {% else %}
                        <p class="card-text">The user has not added a description for this set.</p>
                    {% endif %}

                    <p class="card-text pt-2">Last updated: {{set.updated_at}}</p>
                    <a href="{% url 'flashcard-list' collection_id=set.flashcard_collection.pk set_id=set.pk %}" class="btn btn-outline-secondary my-1">Review {{set.title.lower}}</a>
                </div>
            </div>
        </div>
    {% endfor %}
</ul>
<a href="{% url 'collection-list' %}" class="btn btn-secondary mt-4">Browse other collections</a>

{% endblock %}