{% extends 'base.html' %}

{% block content %}
    {% if user == flashcard_collection.user %}
        <form action="" method="POST">
            {% csrf_token %}
            {% for item in form %}
                <div class="p-2">
                    <p class="form-label">{{item.label}}</p>
                    {{item}}
                </div>
            {% endfor %}
            <input type="submit" label="Submit" class="btn btn-secondary"/>
        </form>
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>    
            {% endfor %}
        {% endfor %}
    {% else %}
        <p class="lead fw-normal">You don't have permission to modify "{{flashcard_collection.title}}".</p>
        <a href="{% url 'collection-list' %}" class="btn btn-outline-secondary">Back to collections</a>
    {% endif %}
{% endblock %}