{% extends 'base.html' %}

{% block content %}
    {% if user == review.user %}
        <div class="overflow-hidden p-3 text-center">
            <div class="mx-auto p-3">
                <h1 class="display-1">Review</h1>
                <p class="lead">Edit your review for {{set.title}}.</p>
            </div>
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            {% for item in form %}
                <div class="mx-5">
                    {% if item.label == "Rating" %}
                        <div class="col-md-5 mx-auto pb-3">
                            <p class="form-label ">Rating</p>
                            <input type="range" min="1" max="5" name="rating" id="rating" step="1" value="{{ form.rating.value }}" class="form-range" oninput="ratingOutput.innerText = this.value">
                            <p id="ratingOutput">Please move the slider.</p> 
                        </div>
                    {% else %}
                        <p class="form-label">{{item.label}}</p>
                        {{item}}
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" label="Update" class="btn btn-secondary mt-3"/>
        </form>
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>    
            {% endfor %}
        {% endfor %}
    {% else %}
        <p class="lead fw-normal">You don't have permission to modify this review.</p>
        <a href="{% url 'collection-list' %}" class="btn btn-outline-secondary">Back to reviews</a>
    {% endif %}
{% endblock %}